---
import DateBadge from "@/components/DateBadge.astro";
import Action from "@/components/Action.astro";
---

<header
  class:list={[
    "container mx-auto p-8 px-4",
    "text-center place-items-stretch",
    "text-neutral-900 dark:text-neutral-100",
    "flex flex-col",
    "animate-fade-in-up animate-duration-slow",
  ]}
>
  <DateBadge />
  <h1
    class:list={[
      "mb-4 max-w-screen-lg mx-auto",
      "text-balance capitalize font-figtree font-medium",
      "text-5xl lg:text-6xl text-center",
      "bg-clip-text text-transparent bg-gradient-to-b",
      "from-neutral-900 via-green-800 to-green-500",
      "dark:from-white dark:to-green-500/90",
    ]}
  >
    Descubre nuestra creatividad y apoya el talento con productos hechos con
    dedicación.
  </h1>
  <Action href="/store" as="a">Explorar la tienda 👽 </Action>
</header>