---
import DateBadge from "@/components/DateBadge.astro";
---

<header
  class:list={[
    "container mx-auto p-8 px-4",
    "text-center place-items-stretch",
    "text-neutral-900 dark:text-neutral-100",
    "flex flex-col",
  ]}
>
  <DateBadge />
  <h1
  class:list={[
    "mb-4 max-w-screen-lg mx-auto",
    "text-balance capitalize",
    "text-5xl lg:text-6xl",
    "bg-clip-text text-transparent bg-gradient-to-b",
    "from-neutral-900 via-green-800 to-green-500",
    "dark:from-white dark:to-green-500/90"
  ]}>
    Descubre nuestra creatividad y
    apoya el talento con productos hechos con dedicación.
  </h1>
  <a
    href="/store"
    class:list={[
      "flex px-6 my-3 py-1 mx-auto",
      "text-xl min-w-fit w-24 h-14",
      "items-center justify-center font-bold",
      "transition-all text-center rounded-2xl",
      "backdrop-blur-md bg-neutral-200/80 dark:bg-neutral-800/80",
      "hover:text-2xl",
    ]}
    >Explorar la tienda 👽
  </a>
</header>
