---
import { Image } from "astro:assets";
import Layout from "@/layouts/InfoLayout.astro";
import Action from "@/components/Action.astro";
import Typography from "@/components/Typography.astro";
---

<Layout title="404 Not Found">
  <main class="w-full overflow-x-clip animate-blurred-fade-in">
    <div
      class:list={[
        "min-h-[90dvh] flex flex-col lg:flex-row items-center justify-center",
        "w-full max-w-6xl mx-auto relative",
        "my-1 md:mt-0 px-8 lg:px-0",
        "gap-8 gap-y-4",
      ]}
    >
      <Image
        class="rounded-md object-contain"
        src="/images/thisIsFine.webp"
        alt="this is fine..."
        loading="eager"
        width={480}
        height={270}
      />
      <div class="flex flex-col justify-center gap-y-2 p-3 relative">
        <Typography as="h2" variant="figtree-title" class="pb-2 text-4xl lg:text-5xl">
          <span class="text-6xl lg:text-9xl">Error 404</span><br />Parece que
          algo sali칩 mal.
        </Typography>
        <p class="mt-2 text-lg font-normal text-gray-800 dark:text-gray-400">
          No te preocupes, nuestro equipo ya est치 en ello. Por favor, intenta
          refrescar la p치gina o vuelve m치s tarde.
        </p>
        <Action as="a" href="/" class="ml-0 mr-auto">Volver al inicio 游땔</Action
        >
        <div
          aria-hidden="true"
          class:list={[
            "absolute -z-10 top-28 -right-4",
            "h-[358px] w-[516px]",
            "-rotate-45",
            "blur-3xl rounded-full",
            "opacity-20 dark:opacity-10 lg:opacity-40 lg:dark:opacity-15",
            "bg-gradient-to-r from-green-400 to-emerald-700",
            "select-none pointer-events-none touch-none",
          ]}
        >
        </div>
        <div
          aria-hidden="true"
          class:list={[
            "absolute -z-10 left-1/2 -top-40 md:-left-60 md:-top-16",
            "h-96 w-[516px]",
            "rotate-12",
            "blur-3xl rounded-full",
            "opacity-30 dark:opacity-10 lg:opacity-40 lg:dark:opacity-20",
            "bg-gradient-to-r from-green-500 to-lime-300",
            "select-none pointer-events-none touch-none",
          ]}
        >
        </div>
      </div>
    </div>
  </main>
</Layout>
