---
import InfoLayout from "../layouts/InfoLayout.astro";
---

<InfoLayout title="Contáctanos">
  <section>
    <div class="py-8 mt-10 md:mt-3 lg:py-16 px-4 mx-auto max-w-screen-md">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-center text-neutral-900 dark:text-white"
      >
        Contáctanos
      </h2>
      <p
        class="mb-8 lg:mb-12 font-light text-center text-neutral-500 dark:text-neutral-400 sm:text-xl"
      >
        ¿Tienes algún problema? ¿Quieres enviarnos comentarios? ¿Necesitas
        detalles sobre nuestro plan de negocios? Háznoslo saber. Estamos aquí
        para ayudarte en todo lo que necesites.
      </p>
      <form
        action="https://formspree.io/f/mayrkjna"
        method="POST"
        class="space-y-8"
      >
        <label
          class="block mb-2 text-sm font-medium text-neutral-900 dark:text-neutral-300"
        >
          Tu correo electrónico
          <input
            type="email"
            name="email"
            class="shadow-sm mt-2 bg-neutral-50 border border-neutral-300 text-neutral-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500 dark:shadow-sm-light"
            placeholder="nombre@gmail.com"
            required
          />
        </label>

        <label
          class="sm:col-span-2 block mb-2 text-sm font-medium text-neutral-900 dark:text-neutral-400"
          >Tu mensaje
          <textarea
            name="message"
            rows="6"
            class="block mt-2 p-2.5 w-full text-sm text-neutral-900 bg-neutral-50 rounded-lg shadow-sm border border-neutral-300 focus:ring-green-500 focus:border-green-500 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
            placeholder="Déjanos un comentario..."></textarea>
        </label>

        <button
          type="submit"
          class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-green-700 sm:w-fit hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
        >
          Enviar mensaje
        </button>
      </form>
    </div>
  </section>
</InfoLayout>
