---
import InfoLayout from "@/layouts/InfoLayout.astro";
import Typography from "@/components/Typography.astro";

import { Image } from "astro:assets";
---

<InfoLayout title="about">
  <main
    class="max-w-screen-lg mx-auto px-0 md:px-3 lg:px-6 py-4 flex flex-col gap-y-12"
  >
    <Typography
      as="h2"
      variant="figtree-title"
      maxWidth="w-full"
      class="text-5xl lg:text-6xl w-full animate-fade-in-up animate-duration-slow text-center pt-2 pb-6 px-1"
      >Carreras tecnicas para un futuro profesional</Typography
    >

    <article
      class:list={[
        "bg-white/40 dark:bg-black/40 backdrop-blur-md rounded-3xl",
        "border border-black/15 dark:border-white/15",
        "px-4 md:px-6 py-7 lg:mx-0 mx-auto gap-y-7",
        "animate-fade-in-up animate-duration-slower animate-delay-200",
        "prose prose-lg lg:prose-xl prose-neutral dark:prose-invert flex flex-col",
      ]}
    >
      <div class="animate-fade-in-up animate-duration-slow">
        <Typography
          as="h2"
          variant="figtree-title"
          class="text-4xl lg:text-5xl pb-2 not-prose">Programación</Typography
        >
      </div>
      <Image
        src="/images/programming.webp"
        alt="An individual working on a computer, programming with code visible on the monitor."
        class="object-cover rounded-2xl"
        loading="eager"
        width={1280}
        height={640}
      />
      <p>
        La carrera de <strong>Técnico en Programación</strong> se centra en desarrollar
        competencias esenciales para la creación y mantenimiento de software. Los
        estudiantes adquieren habilidades prácticas en el análisis de problemas y
        el diseño de soluciones mediante programación, enfocándose en la construcción
        de aplicaciones eficientes y funcionales.
      </p>
      <p>
        El plan de estudios incluye formación en lenguajes de programación,
        estructuras de datos, y principios de diseño de software, permitiendo a
        los estudiantes resolver problemas y adaptar soluciones a distintas
        necesidades. Además, esta carrera fomenta la capacidad de trabajar en
        equipo y manejar proyectos desde la concepción hasta la implementación
        final.
      </p>
      <p>
        La formación en programación abre la puerta a diversas oportunidades
        laborales en áreas como desarrollo web, aplicaciones móviles, y sistemas
        de bases de datos. Los egresados pueden optar por integrarse en empresas
        tecnológicas o emprender proyectos independientes, contribuyendo con sus
        conocimientos al entorno digital en constante crecimiento.
      </p>
    </article>
    <article
      class:list={[
        "bg-white/40 dark:bg-black/40 backdrop-blur-md rounded-3xl",
        "border border-black/15 dark:border-white/15",
        "px-4 md:px-6 py-7 lg:mx-0 mx-auto self-end",
        "animate-fade-in-up animate-duration-slower animate-delay-200",
        "prose prose-lg lg:prose-xl prose-neutral dark:prose-invert flex flex-col",
      ]}
    >
      <div class="animate-fade-in-up animate-duration-slow">
        <Typography
          as="h2"
          variant="figtree-title"
          class="text-4xl lg:text-5xl pb-2 not-prose"
          >Mantenimiento Industrial</Typography
        >
      </div>
      <Image
        src="/images/maintenance_2.webp"
        alt="An individual working on a computer, programming with code visible on the monitor."
        class="object-cover rounded-2xl"
        width={1280}
        height={640}
      />
      <p>
        La carrera de <strong>Técnico en Mantenimiento Industrial</strong> prepara
        a los estudiantes para llevar a cabo tareas clave en el funcionamiento y
        la optimización de instalaciones y maquinaria industrial. Este programa abarca
        desde las técnicas de ajuste de banco y lectura de planos hasta habilidades
        avanzadas en soldadura, control y automatización.
      </p>
      <p>
        Los estudiantes reciben formación en el uso de herramientas y maquinaria
        especializada, adquiriendo competencias para diagnosticar y resolver
        problemas en equipos mecánicos, eléctricos y electrónicos. Además, se
        desarrollan destrezas en la fabricación y el ensamblaje de estructuras
        metálicas, así como en el mantenimiento preventivo y correctivo de
        sistemas industriales.
      </p>
      <p>
        Esta carrera ofrece una base sólida para desempeñarse en sectores como
        la manufactura, la energía, y la construcción, abriendo posibilidades
        para trabajar en áreas como la refrigeración, el aire acondicionado y el
        manejo de maquinaria pesada. Los egresados están capacitados para
        mejorar la eficiencia de los procesos industriales, contribuyendo a la
        innovación y sostenibilidad en el sector productivo.
      </p>
    </article>
  </main>
</InfoLayout>