---
import Layout from "../layouts/Layout.astro";
import Products from "./products.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="CECYMARKET">
  <main>
    <Hero />
    <Products />
  </main>
</Layout>
