---
import mysql from "mysql2/promise";
import Layout from "@/layouts/InfoLayout.astro";
import Typography from "@/components/Typography.astro";

/*
const db = await mysql.createConnection({
  host: "127.0.0.1",
  user: "root",
  password: "",
  database: "cecytem_db",
  port: 3306,
});

let data: any = [];

try {
  const [rows] = await db.query("SELECT * FROM messages");
  data = rows;
  await db.end();
} catch (error) {
  console.error("Error al obtener los datos:", error);
}
*/

// Hello, World!
---

<Layout title="CECYTEM DATABSE">
  <main class="flex flex-col justify-center mx-auto w-full px-11">
    <Typography
      as="h1"
      variant="figtree-title"
      class="text-center w-full mx-auto text-4xl font-bold text-white"
    >
      Datos de la base de datos
    </Typography>
    <!-- <div class="py-12 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-6 gap-y-10"> -->
    <div class="py-12 grid place-items-center gap-x-6 gap-y-10">
    <p class="text-center mx-auto text-6xl w-full">Oh no! Algo salió mal. Puedes intentarlo mas tarde.</p>
      <!-- {
        data.map((item: any) => (
          <article class="block max-w-sm p-6 bg-white border border-neutral-200 rounded-lg shadow dark:bg-neutral-800 dark:border-neutral-700 mx-auto">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-neutral-900 dark:text-white">
              {item.name} - {item.email}
            </h5>
            <p>{item.message}</p>
            <p class="font-normal text-neutral-700 dark:text-neutral-400">
              {item.message}
            </p>
          </article>
        ))
      } -->
    </div>
  </main>
</Layout>
