---
import Layout from "@/layouts/StoreLayout.astro";
import Hero from "@/components/HeroStore.astro";
import Footer from "@/components/FooterStore.astro";

import Products from "@/sections/store/Products.astro";
---

<Layout title="CECYMARKET">
  <main>
    <Hero />
    <Products />
    <Footer />
  </main>
</Layout>
