---
import Layout from "@/layouts/StoreLayout.astro";
import Hero from "@/sections/store/Hero.astro";
import Products from "@/sections/store/Products.astro";
import Footer from "@/sections/store/Footer.astro";
---

<Layout title="CECYMARKET">
  <main>
    <Hero />
    <Products />
    <Footer />
  </main>
</Layout>
