---
import InfoLayout from "../layouts/InfoLayout.astro";
import TeamCard from "../components/TeamCard.astro";
---

<InfoLayout title="team">
  <section
    class="container p-4 mx-auto rounded-2xl bg-neutral-300 dark:bg-neutral-900 bg-opacity-85 lg:py-12 lg:px-6"
  >
    <header
      class="grid grid-cols-1 md:grid-cols-2 auto-rows-auto gap-4 [&>div]:bg-neutral-200 [&>div]:dark:bg-neutral-800 [&>div]:rounded-xl [&>div]:px-7 [&>div]:p-5"
    >
      <div class="md:col-span-2 row-start-1">
        <h2
          class="text-3xl md:text-4xl tracking-wide font-extrabold text-neutral-900 dark:text-neutral-200 text-balance"
        >
          Compromiso con la Excelencia
        </h2>
        <p class="text-pretty">
          Estamos dedicados a la excelencia e innovación, aplicando lo que
          aprendemos para crear productos de alta calidad que reflejan nuestra
          creatividad y dedicación.
        </p>
      </div>
      <div class="row-start-2">
        <p class="text-pretty">
          Cada miembro del equipo es crucial para nuestro éxito. Desde el diseño
          web hasta el mantenimiento de productos, trabajamos juntos para
          ofrecerte la mejor experiencia.
        </p>
      </div>
      <div class="row-start-3 md:row-start-2 flex justify-center items-center">
        <h2
          class="text-5xl text-center tracking-wide font-extrabold font-effect"
        >
          Nuestro equipo
        </h2>
      </div>
    </header>
    <main class="grid mt-4 gap-4 lg:mb-16 md:grid-cols-2">
      <TeamCard
        title="Eduardo Sanchez"
        role="Web developer | UI/UX Designer"
        pfp="/images/team/clxd.webp"
        motto="If you want it all, why you halfway in?."
        socialMedia={{
          x: "https://x.com/CrashLanXD",
          github: "https://github.com/CrashLanXD/",
          facebook: "",
          instagram: "",
        }}
      />
      <TeamCard
        title="Gamaliel"
        role="UI/UX Designer"
        pfp="/images/team/gama.webp"
        motto="Irure labore ea exercitation deserunt duis pariatur cillum ea Lorem."
        socialMedia={{
          x: "",
          github: "",
          facebook: "",
          instagram: "https://www.instagram.com/gsvs_gm",
        }}
      />
      <TeamCard
        title="Diego"
        role="Designer"
        pfp="/images/team/diego.webp"
        motto="La verdadera grandeza radica en la capacidad de levantarse despues de cada caida."
        socialMedia={{
          x: "",
          github: "",
          facebook: "https://www.facebook.com/diego.isais.773",
          instagram: "",
        }}
      />
      <TeamCard
        title="David"
        role="collaborator"
        pfp="/images/team/david.webp"
        motto="The best way to predict the future is to invent it"
        socialMedia={{
          x: "",
          github: "",
          facebook: "",
          instagram: "",
        }}
      />
      <TeamCard
        title="Jocsan"
        role="Collaborator"
        pfp="/images/team/jocsan.webp"
        motto="Lo que tú haces en un día, yo lo hago en 24 horas."
        socialMedia={{
          x: "",
          github: "",
          facebook: "",
          instagram: "https://www.instagram.com/jocsan.aguirre/",
        }}
      />
    </main>
  </section>
</InfoLayout>
