<footer class="font-Krypton mt-20 bg-[--background-50] rounded-t-lg">
  <div
    class="container px-5 py-4 mx-auto flex items-center sm:flex-row flex-col justify-between text-[--text-500]"
  >
    <a
      title="made by CrashLanXD <3"
      href="https://clxd.vercel.app"
      target="_blank"
      rel="noopener noreferrer"
      class="flex font-medium text-sm items-center md:justify-start justify-center"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 256 256"
        class="size-12 p-1 fill-white bg-[#121212] rounded-full"
      >
        <path
          fill=""
          d="M256 128c0 70.692-57.308 128-128 128zM128 0c52 0 96.7 31 116.8 75.5L75.5 244.8c-7.3-3.3-14.2-7.2-20.7-11.7C54.905 235.001 226.659 62 226.659 62H27.643l71.742 94.615L37.5 218.5C.9 181.893-10.047 126.844 9.762 79.02a128.184 128.184 0 0 1 6.943-14.218C39.227 25.107 81.561.007 128 0Z"
        ></path>
      </svg>
      <p class="uppercase ml-2 text-lg flex flex-col justify-center">
        cecytem <strong class="text-lime-500 ml-2">marketplace</strong>
      </p>
    </a>

    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-neutral-500 dark:text-neutral-400 sm:mt-0"
    >
      <li>
        <a href="/" class="hover:underline me-4 md:me-6">Inicio</a>
      </li>
      <li>
        <a href="/contactUs" class="hover:underline">Contacto</a>
      </li>
    </ul>
  </div>
</footer>
