---
const currentYear = new Date().getFullYear();
---

<footer
  class="mt-40 flex justify-between p-3 w-full bg-transparent relative bottom-3"
>
  <div class="flex w-full mx-4 flex-col content-end justify-end gap-y-2">
    <span class="h-1 w-2/3 block bg-neutral-950 dark:bg-neutral-100 mr-auto"></span>
    <span class="h-1 w-full block bg-neutral-950 dark:bg-neutral-100"></span>
  </div>
  <div class="flex items-center justify-between w-auto gap-x-5">
    <span class="transition-all w-[138px] -mb-3 text-lg hover:text-xl">
      <a
        href="#products"
        class="p-2 text-neutral-950 dark:text-neutral-100 font-semibold relative flex justify-center items-center h-9 border-4 border-neutral-950 dark:border-neutral-100"
      >
        &uArr; Volver &uArr;
      </a>
    </span>
  </div>
  <div class="flex w-full mx-4 flex-col content-end justify-end gap-y-2">
    <span class="h-1 w-2/3 block bg-neutral-950 dark:bg-neutral-100 ml-auto"></span>
    <span class="h-1 w-full block bg-neutral-950 dark:bg-neutral-100"></span>
  </div>
</footer>
