---
import MaintenanceIcon from "./icons/MaintenanceIcon.astro";
import CodeIcon from "./icons/CodeIcon.astro";
import StoreIcon from "./icons/StoreIcon.astro";
import TeamIcon from "./icons/TeamIcon.astro";
import FlagIcon from "./icons/FlagIcon.astro";
import MailIcon from "./icons/MailIcon.astro";
---

<nav
  class="block px-8 py-4 w-full max-w-full bg-transparent text-neutral-900 dark:text-neutral-50"
>
  <div class="container mx-auto flex items-center justify-between">
    <p
      class="block antialiased font-sans leading-relaxed uppercase tracking-widest"
    >
      cecytem marketplace
    </p>
    <ul class="ml-10 hidden items-center gap-6 lg:flex">
      <li>
        <a
          href="/"
          class="antialiased font-sans text-base leading-relaxed flex items-center gap-2 font-medium"
          ><FlagIcon class="size-5" />Home</a
        >
      </li>
      <li>
        <a
          href="/team"
          class="antialiased font-sans text-base leading-relaxed flex items-center gap-2 font-medium"
          ><TeamIcon class="size-5" />
          Team</a
        >
      </li>
      <li>
        <a
          href="/store"
          class="antialiased font-sans text-base leading-relaxed flex items-center gap-2 font-medium"
          ><StoreIcon class="size-5" />Store</a
        >
      </li>
      <li>
        <a
          href="/dev"
          class="antialiased font-sans text-base leading-relaxed flex items-center gap-2 font-medium"
          ><CodeIcon class="size-5" />Dev</a
        >
      </li>
      <li>
        <a
          href="/contactUs"
          class="antialiased font-sans text-base leading-relaxed flex items-center gap-2 font-medium"
          ><MailIcon class="size-5" />contact</a
        >
      </li>
    </ul>
    <button
      class="relative ml-auto inline-block h-10 max-h-[40px] w-10 max-w-[40px] select-none rounded-lg text-center align-middle font-sans text-xs font-medium uppercase text-neutral-900 transition-all hover:bg-neutral-900/10 dark:text-neutral-100 dark:hover:bg-neutral-50/10 active:bg-neutral-900/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none lg:hidden"
      type="button"
      data-ripple-dark="true"
      data-collapse-target="navbar"
    >
      <span
        class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          aria-hidden="true"
          class="h-6 w-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>
      </span>
    </button>
  </div>
  <div data-collapse="navbar" class="w-full hidden overflow-hidden">
    <div data-collapse="navbar" class="block w-full overflow-hidden">
      <ul class="flex flex-col gap-4">
        <li>
          <a
            href="/"
            class="antialiased font-sans text-base leading-relaxed flex items-center gap-2 font-medium"
            ><FlagIcon class="size-5" />Home</a
          >
        </li>
        <li>
          <a
            href="/team"
            class="antialiased font-sans text-base leading-relaxed flex items-center gap-2 font-medium"
            ><TeamIcon class="size-5" />Team</a
          >
        </li>
        <li>
          <a
            href="/store"
            class="antialiased font-sans text-base leading-relaxed flex items-center gap-2 font-medium"
            ><StoreIcon class="size-5" />Store</a
          >
        </li>
        <li>
          <a
            href="/dev"
            class="antialiased font-sans text-base leading-relaxed flex items-center gap-2 font-medium"
            ><CodeIcon class="size-5" />Dev</a
          >
        </li>
        <li>
          <a
            href="/contactUs"
            class="antialiased font-sans text-base leading-relaxed flex items-center gap-2 font-medium"
            ><MailIcon class="size-5" />contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  document.addEventListener("astro:page-load", () => {
    const $toggleMenu = document.querySelector("[data-collapse-target='navbar']");
    const $mobileMenu = document.querySelector("[data-collapse='navbar']");
    $toggleMenu?.addEventListener("click", toggleMenu);
    function toggleMenu() {
      if ($toggleMenu && $mobileMenu) {
        let ariaExpanded =
          $toggleMenu.getAttribute("aria-expanded") === "true" || false;
        ariaExpanded = !ariaExpanded;

        $toggleMenu.setAttribute("aria-expanded", ariaExpanded.toString());
        // Toggle 'hidden' class on $mobileMenu
        $mobileMenu.classList.toggle("hidden", !ariaExpanded);
        // Toggle 'block' class on $mobileMenu
        $mobileMenu.classList.toggle("block", ariaExpanded);
      }
    }
  });
</script>
