<header
  class="p-8 mx-auto container px-4 text-center place-items-stretch text-neutral-900 dark:text-neutral-100"
>
  <time
    id="currentDate"
    class="antialiased h-9 leading-relaxed text-inherit text-sm inline-flex font-light rounded-lg border-2 border-neutral-50 bg-neutral-50 dark:border-neutral-800 dark:bg-neutral-800/40 dark:font-thin py-1 lg:px-4 px-1 text-primary"
  ></time>
  <h1
    class="block antialiased tracking-normal font-semibold mx-auto mb-6 mt-3 w-full leading-snug text-2xl lg:max-w-3xl lg:text-5xl"
  >
    Elevamos tu Experiencia con
    <span class="text-green-500 leading-snug">Creatividad</span> y
    <span class="leading-snug text-green-500">Tecnología</span>.
  </h1>
  <p
    class="block antialiased font-normal leading-relaxed text-inherit mx-auto w-full text-neutral-500 dark:text-neutral-300 lg:text-lg text-base"
  >
    Es el momento de brillar, de destacar con colores vibrantes y ser
    excepcional.
  </p>
  <a
    href="/store"
    class="flex px-6 my-3 py-1 mx-auto text-xl min-w-fit w-24 h-14 items-center justify-center font-bold transition-all text-center rounded-xl backdrop-blur-md bg-neutral-200/80 dark:bg-neutral-800/80 hover:text-2xl"
  >
    Explorar la tienda 👽
  </a>
</header>

<script>
  // Retrieve stored date from localStorage
  const storedData = localStorage.getItem("currentDate");

  // Event listener for page load
  document.addEventListener("astro:page-load", () => {
    const $timeElement = document.getElementById("currentDate");
    if (storedData && $timeElement) {
      // If stored date exists, display it
      $timeElement.textContent = storedData;
      localStorage.clear();
    } else {
      // Otherwise, generate and display the current date
      if ($timeElement) {
        $timeElement.textContent = getCurrentDate();
      }
    }
  });

  function getCurrentDate() {
    // Get current date
    let currentDate = new Date();

    // Array of month names
    let monthNames = [
      "Enero",
      "Febrero",
      "Marzo",
      "Abril",
      "Mayo",
      "Junio",
      "Julio",
      "Agosto",
      "Septiembre",
      "Octubre",
      "Noviembre",
      "Diciembre",
    ];

    // Array of day names
    let dayNames = [
      "Domingo",
      "Lunes",
      "Martes",
      "Miércoles",
      "Jueves",
      "Viernes",
      "Sábado",
    ];

    // Get day, date, month, and year
    let day = dayNames[currentDate.getDay()];
    let date = currentDate.getDate();
    let month = monthNames[currentDate.getMonth()];
    let year = currentDate.getFullYear();

    // Format the date
    const formattedDate = `${day} ${date} de ${month} del ${year}`;

    // Store the formatted date in localStorage
    localStorage.setItem("currentDate", formattedDate);
    return formattedDate;
  }
</script>
