---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<li>
  <a
    href={href}
    aria-label="enlace a redes sociales"
    target="_blank"
    rel="noopener noreferrer"
    class="text-neutral-500 hover:text-neutral-900 dark:hover:text-white"
  >
    <slot />
  </a>
</li>
