---
import '@fontsource-variable/figtree';
import { ViewTransitions } from "astro:transitions";
import Header from "@/sections/about/Header.astro";
import Footer from "@/sections/about/Footer.astro";
interface Props {
  title: string;
  description?: string;
}

let { title, description } = Astro.props;
description ??= "";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="author" content="Eduardo Sanchez Hernandez" />
    <meta name="theme-color" content="#008c72" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
    <script>
      document.addEventListener("astro:after-swap", () => {
        (function() {
        const theme = localStorage.getItem("theme") || (window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light");
        document.documentElement.classList.toggle("dark", theme === "dark");
        })();
      });
    </script>
  </head>
  <body
    class:list={[
      "min-h-[100dvh] max-w-[100dvw] overflow-x-hidden",
      "bg-neutral-100 dark:bg-black",
      "bg-[conic-gradient(at_bottom_right,_var(--tw-gradient-stops))]",
      "from-white via-green-400/40 to-neutral-50",
      "dark:from-black dark:via-emerald-950/30 dark:to-neutral-950",
      "has-[dialog[open]]:overflow-hidden"
    ]}
  >
    <div class="min-h-screen w-full absolute -z-20">
      <div
        class:list={[
          "absolute bottom-0 left-0 right-0 top-0",
          "bg-[size:14px_24px]",
          "[mask-image:radial-gradient(ellipse_80%_50%_at_50%_0%,#000_70%,transparent_110%)]",
          "bg-[linear-gradient(to_right,#efefef_1px,transparent_1px),linear-gradient(to_bottom,#efefef_1px,transparent_1px)]",
          "dark:bg-[linear-gradient(to_right,#050505ac_1px,transparent_1px),linear-gradient(to_bottom,#050505ac_1px,transparent_1px)]"
        ]}
      >
      </div>
    </div>
    <Header />
    <slot />
    <Footer />
    <style is:global>
      @font-face {
        font-family: InterVariable;
        font-style: normal;
        font-weight: 100 900;
        font-display: swap;
        src: url("/fonts/InterVariable.woff2") format("woff2");
      }
      :root {
        color-scheme: light;
      }
      :root:where(.dark, .dark *) {
        color-scheme: dark;
      }
      html {
        font-family: InterVariable, system-ui, sans-serif;
        scroll-behavior: smooth;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      
      .text-gradient {
        @apply bg-clip-text text-transparent bg-gradient-to-b from-neutral-900 via-green-800 to-green-500 dark:from-white dark:to-green-500/90;
      }
      
      .font-effect {
        text-stroke-width: 1px;
        text-stroke-color: light-dark(#333b3c, #efefec);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: light-dark(#333b3c, #efefec);
        color: transparent;
      }

      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }
    </style>
  </body>
</html>
